<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.library.mapper.BookMapper">

    <resultMap id="default" type="com.example.library.domain.entity.Book"/>

    <select id="selectByBookId" parameterType="java.lang.Long" resultMap="default">
        select * from book
            where book_id = #{bookId}
    </select>

</mapper>